<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>MatrixVOIP.icns</string>
	<key>INIntentsSupported</key>
	<array>
		<string>ToggleCameraIntent</string>
		<string>ToggleMicrophoneIntent</string>
		<string>LeaveCallIntent</string>
		<string>JoinCallIntent</string>
	</array>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>JoinCallIntent</string>
		<string>LeaveCallIntent</string>
		<string>ToggleCameraIntent</string>
		<string>ToggleMicrophoneIntent</string>
	</array>
	<key>OSAScriptingDefinition</key>
	<string>MatrixVOIP.sdef</string>
</dict>
</plist>
